@tailwind base;
@tailwind components;
@tailwind utilities;

.footer {
  background-color: #ec5d82;
}

.img {
  border-radius: 4rem;
}


.img__radius {
  border-radius: 2rem;
  width: 100%;
}

@media screen and (max-width:769px) {
  .cards__achievements {
 padding: 0;
 
  }
}

@media screen and (max-width:680px) {
  .cards__achievements {
 padding: 0;
  }
}

.shadow{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.dropdown:hover .dropdown-menu {
  display: block;
}