@tailwind base;
@tailwind components;
@tailwind utilities;

.footer {
  background-color: #ec5d82;
}

.img {
  border-radius: 4rem;
}

.img__radius {
  border-radius: 2rem;
}

.shadow{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}